---
extends: default

ignore:
  - secret-*.enc.yml
  - charts/**
  - .pre-commit-config.yaml

rules:
  line-length:
    max: 160
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  truthy:
    ignore:
      - .github/
